.banner{
  width: 100%;
  height: 954px;
  background-image: url(../assets/images/banner/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 40px;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.burger, .logo-mobile{
  display: none;
}

.nav{
  display: flex;
  justify-content: start;
  max-width: 385px;
  width: 100%;
}

.nav-items{
  gap: 44px;
  display: flex;
}

.icons{
  max-width: 385px;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 19px;
}


.banner-slider{
  display: flex;
}

.banner-slider-content{
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 100%;
}

.banner-slider-textblock{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.banner-slider-subtitle{
  color: var(--color-white);
  font-size: 25px;
  line-height: 28.47px;
}

.banner-slider-title{
  font-family: "Playfair Display", sans-serif;
  font-size: 63px;
  line-height: 71.76px;
  text-transform: uppercase;
  text-align: center;
}

.banner-slider-link{
  width: 300px;
  height: 56px;
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media  (max-width: 768px){
  .banner{
    padding-top: 0;
    height: 100vh;
  }

  .header{
    background-color: white;
    justify-content: space-between;
    padding: 15px 30px;
  }

  .burger{
    display: flex;
    justify-content: start;
    max-width: 330px;
    width: 100%;
  }


  .logo-pc, .nav, .nav_items {
    display: none;
  }


  .logo-mobile{
    display: block;
  }


  .icons{
    gap: 9px;
    max-width: 330px;
  }
 
}

@media screen and (max-width: 460px){
  .banner {
    background-image: url(../assets/images/banner/slider-mobile.png);
    background-size: contain;
  }
}

@media (max-width: 425px){
  .icons{
    gap: 7px;
    color: var(--color-grey);
  }

  .icons svg{
    height: 24px;
    width: 24px;
  }

}

