.inspired {
  padding-top: 60px;
  padding-bottom: 60px;
}

.inspired-textblock {
  display: flex;
  justify-content: flex-start;
}

.inspired-textblock__title {
  font-weight: 400;
  font-size: 25px;
  line-height: 28.47px;
  color: var(--text-color);
}

.inspired-textblock__text {
  margin: 6px 0px 20px 124px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
  color: var(--text-color);
}

.inspired-textblock__description {
  margin-bottom: 20px;
  max-width: 370px;
}

.inspired-textblock__link {
  color: var(--inspired-link);
  position: relative;
  display: inline-block;
}

.inspired-textblock__link::before {
  max-width: 100%;
  content: " ";
  background-color: var(--inspired-link);
  width: 100%;
  height: 0.5px;
  bottom: 2px;
  position: absolute;
}

.inspired-cardblock {
  display: flex;
  justify-content: space-between;
}

.inspired-mobile {
  display: none;
}

@media (max-width: 1250px) {
  .inspired {
    display: none;
  }

  .inspired-mobile {
    display: block;
    padding-top: 50px;
  }

  .inspired-mobile-textblock__text {
    margin-top: 20px;
    line-height: 18.22px;
    margin-bottom: 8px;
  }

  .inspired-mobile-card__image {
    width: 100%;
    height: 100%;
  }

  .inspired-mobile-textblock__description {
    margin-bottom: 8px;
  }

  .inspired-mobile-textblock__link {
    position: relative;
    color: var(--inspired-link)
  }

  .inspired-mobile-textblock__link::before {
    max-width: 100%;
    content: " ";
    background-color: var(--inspired-link);
    height: 0.5px;
    bottom: 2px;
    width: 100%;
    position: absolute;
  }


  .inspired-mobile-textblock__title {
    font-size: 25px;
    line-height: 28.47px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 460px) {
  .inspired-mobile {
    padding-top: 50px;
    padding-bottom: 25px;
  }

  .inspired-mobile-textblock__link {
    position: relative;
  }

  .inspired-mobile-textblock__description {
    margin-bottom: 14px;
  }

  .inspired-mobile-textblock__link::before {
    max-width: 100%;
    content: " ";
    background-color: var(--inspired-link);
    height: 0.5px;
    width: 100%;
    bottom: 2px;
    position: absolute;
  }

  .inspired-mobile-textblock__title {
    font-weight: 400;
    font-size: 25px;
    line-height: 28.47px;
  }

  .inspired-mobile-card__image {
    margin-bottom: 25px;
  }
}


